.name-tag{
    padding-right: 20px;
    font-size: 20px;
}
.name-tag-chat{
    padding-right: 20px;
    font-size: 19px;
}

.font{
    font-size: 20px;
}
border1{
    border-width: 20px;
}
#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    margin: 0 auto;
}
.headd{
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.bfg-light {
    background-color: #EDEEF0;
}